.goodExample {
  color: #22863a;
  background-color: #f0fff4;
}

.badExample {
  color: #b31d28;
  background-color: #ffeef0;
}
.badExample h3 {
  color: #b31d28;
  margin-left: 0.5rem;
}
.goodExample h3 {
  color: #22863a;
  margin-left: 0.5rem;
}

.underline {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline #eb5c3f !important;
}

.img-caption {
  font-size: 0.8em;
}

:not([class="inline-img"]) {
  > img {
    box-shadow: 5px 5px 12px #0000006b;
  }
}

td.centered {
  text-align: center;
}
